@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --size: 100;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.grid {
  margin: 1rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(var(--foreground-rgb));
}

.grid___line {
  display: flex;
  flex: 1;
}

.grid__cell {
  width: 100%;
  aspect-ratio: 1;
}

.grid__cell.dead {
  background-color: rgb(var(--background-start-rgb));
}

.grid__cell.alive {
  background-color: green;;
}

.grid_cell.green {
  color : blue;
}

.grid_cell.red {
  color : red;
}